:root {
  --transition-duration: 1000ms;
  --page-transition-duration: 3000ms;
}

* {
  margin: 0;
  padding: 0;
  border: none;
}

html,
body {
  width: 100%;
}

button {
  outline: none;
  background: none;
}
