:root {
  --transition-duration: 1000ms;
  --page-transition-duration: 3000ms;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: "Montserrat", sans-serif;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

button {
  outline: none;
  background: none;
}
